extends layout

block content
  h1 Agile Airlines
  if !flightTickets.length
    p Nenhuma passagem encontrada para os critérios informados :(
  else
    p Foram encontradas #{flightTickets.length} passagens:
    ul.list-group
      each flightTicket in flightTickets
        li.list-group-item
          .row
            span.col-xs-2.text-right De:
            span.col-xs-10= flightTicket.from
          .row
            span.col-xs-2.text-right Para:
            span.col-xs-10= flightTicket.to
          .row
            span.col-xs-2.text-right Data:
            span.col-xs-10= flightTicket.date
          .row
            span.col-xs-2.text-right Hora:
            span.col-xs-10= flightTicket.time
          .row
            span.col-xs-2.text-right Adultos:
            span.col-xs-10= flightTicket.adults
          .row
            span.col-xs-2.text-right Crianças:
            span.col-xs-10= flightTicket.children
          .row
            span.col-xs-2.text-right Valor:
            span.col-xs-10 R$#{flightTicket.price}

  a.btn.btn-default(href="/") Nova busca
