extends layout

block content
  h1 Passagens Encontradas
  if !flightTickets.length
    div Nenhuma passagem encontrada para os critérios informados :(
  else
    ul.list-group
      each flightTicket in flightTickets
        li.list-group-item
          .row
            span.col-xs-1.text-right De:
            span.col-xs-4= flightTicket.from
          .row
            span.col-xs-1.text-right Para:
            span.col-xs-4= flightTicket.to
          .row
            span.col-xs-1.text-right Ida:
            span.col-xs-4= flightTicket.departureDate
          .row
            span.col-xs-1.text-right Volta:
            span.col-xs-4= flightTicket.returnDate
          .row
            span.col-xs-1.text-right Valor:
            span.col-xs-4 R$#{flightTicket.price}

  a.btn.btn-default(href="/") Nova busca
