extends layout

block content
  h1 Agile Airlines
  p Bem vindo a Agile Airlines! Onde cada vôo é uma entrega de valor :)
  form(action='/flights', method='post', style='border: 1px solid lightgray; border-radius: 3px; padding: 12px; margin-top: 25px')
    .row
      .form-group.col-xs-12.text-right
        label.radio-inline
          input(type='radio', name='category', value='standard', checked=!values || (values && values['category'] === 'standard') ? true : false)
          | Standard
        label.radio-inline
          input(type='radio', name='category', value='silver', checked=values && values['category'] === 'silver' ? true : false)
          | Silver
        label.radio-inline
          input(type='radio', name='category', value='gold', checked=values && values['category'] === 'gold' ? true : false)
          | Gold
    .row
      .form-group.col-xs-6(class=errors && errors['from'] ? 'has-error' : '')
        label.control-label(for='from') De:
        input.form-control#from(type='text', name='from', placeholder='Ex: Florianópolis', value=values ? values['from'] : undefined)
        if errors && errors['from']
          span.help-block= errors['from'].message
      .form-group.col-xs-6(class=errors && errors['to'] ? 'has-error' : '')
        label.control-label(for='to') Para:
        input.form-control#to(type='text', name='to', placeholder='Ex: Porto Alegre', value=values ? values['to'] : undefined)
        if errors && errors['to']
          span.help-block= errors['to'].message
    .row
      .form-group.col-xs-3(class=errors && errors['departureDate'] ? 'has-error' : '')
        label.control-label(for='departureDate') Ida:
        input.form-control#departureDate(type='text', name='departureDate', placeholder='Ex: 30/10/2016', value=values ? values['departureDate'] : undefined)
        if errors && errors['departureDate']
          span.help-block= errors['departureDate'].message
      .form-group.col-xs-3(class=errors && errors['returnDate'] ? 'has-error' : '')
        label.control-label(for='returnDate') Volta:
        input.form-control#returnDate(type='text', name='returnDate', placeholder='Ex: 31/10/2016', value=values ? values['returnDate'] : undefined)
        if errors && errors['returnDate']
          span.help-block= errors['returnDate'].message
      .form-group.col-xs-2
        label.control-label(for='adults') Adultos:
        select.form-control#adults(name='adults')
          - var n = 1;
          while n <= 15
            option(selected=values && values['adults'] === (n + '') ? 'selected' : undefined)= n++
      .form-group.col-xs-2
        label.control-label(for='children') Crianças:
        select.form-control#children(name='children')
          - var n = 0;
          while n <= 15
            option(selected=values && values['children'] === (n + '') ? 'selected' : undefined)= n++
    .row
      .form-group.col-xs-2
        .checkbox
          label
            input(type="checkbox", name='usePoints', checked=values && values['usePoints'] ? true : false)
            | Usar pontos

    button.btn.btn-primary(type='submit') Procurar
