extends layout

block content
  h1 Agile Airlines
  p Bem vindo a Agile Airlines! Onde cada vôo é uma entrega de valor :)
  form(action='/flights', method='post')
    .control-group(class=errors && errors['from'] ? 'error' : '')
      label.control-label(for='from') De:
      .controls
        input#from(type='text', name='from', value=values ? values['from'] : undefined)
        if errors && errors['from']
          span.help-inline= errors['from'].message

    .control-group(class=errors && errors['to'] ? 'error' : '')
      label.control-label(for='to') Para:
      .controls
        input#to(type='text', name='to', value=values ? values['to'] : undefined)
        if errors && errors['to']
          span.help-inline= errors['to'].message

    .control-group(class=errors && errors['departureDate'] ? 'error' : '')
      label.control-label(for='departureDate') Ida:
      .controls
        input#departureDate(type='text', name='departureDate', value=values ? values['departureDate'] : undefined)
        if errors && errors['departureDate']
          span.help-inline= errors['departureDate'].message

    .control-group(class=errors && errors['returnDate'] ? 'error' : '')
      label.control-label(for='returnDate') Volta:
      .controls
        input#returnDate(type='text', name='returnDate', value=values ? values['returnDate'] : undefined)
        if errors && errors['returnDate']
          span.help-inline= errors['returnDate'].message

    .control-group
      label.control-label(for='quantity') Passageiros:
      .controls
        select#quantity(name='quantity')
          - var n = 1;
          while n <= 15
            option(selected=values && values['quantity'] === (n + '') ? 'selected' : undefined)= n++

    button.btn.btn-primary(type='submit') Procurar
